.about1{
    display:flex;
     flex-direction:row;
     gap:25px;
justify-content: center;
  padding-top:100px;
  padding-bottom: 100px;
  max-width:13280px;
}
.leftimgg{
   max-width:555px;
   height:400px;
border-radius:30px;

}

.rightt{
    max-width:503px;
    height:auto;
}
.mystory{
    background-color: #20c997;
    border-radius:10px;
    padding: 19px 40px;
   justify-content:flex-end;
    align-items:center;
    display:flex;
   gap:27px;
}
.storyimg{
    border-radius: 90px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    max-width:100%;
}
.heading{
    color:white;
    font-size:51px;
    justify-content:start;
    letter-spacing:-2px;
}

.para{
    text-align:left;
   color:#717275;
   font-size:18px;
   letter-spacing: 0.04px;
   line-height:1.4;
  margin-top:-20px;
}
.heading1{
    color:black;
    letter-spacing:0.4px;
    font-weight:700;
   font-size:37.3px;
    line-height:1.2; 
    text-align:left;
    
    
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 .about{
    flex-wrap:wrap;
    
    /* padding-left:10px;
    padding-right:10px; */
    
 }
 .heading1{
    font-size:2.2rem;
 }
 .para{
    font-size:1.7rem;
 }
 .leftimgg{
    display:none;
}
 .mystory{
    flex-wrap:wrap;
   justify-content: center;
  
 }
 .heading1{
font-size:3rem;
text-align: center;
 }
 .para{
    font-size:2.3rem;
    text-align:center;
 }
 
 .about1{
   padding-top:0px;
   gap:0px;
 }

}
