.main{
    
    background-color: #535da1;
   background-size: cover;
   
  height:630px;;
  object-fit:cover;
max-width:13260px;
}
.sectionn{
    display:flex;
    padding-top:25px;
    gap:130px;
    justify-content:center;
}
.ul{
    display:flex;
    gap:45px;
}
.list{
    list-style:none;
    display: inline-block;
    color: #f9f9f9;;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    /* position: relative; */
    
}
.first a{
    font-size:32px;
    font-weight:700;
    color:white;
    padding-left:80px;
}
.phone{
    max-width:15%;
    height:auto;
}
.call{
    display:flex;
    gap:10px;
    margin-left: 140px;;
}
.number{
    color:white;
    border:2px solid white;
   font-size:20px;
    border-radius:27px;
    font-weight: 600;
   padding:10px;
    padding-left:18px;
    padding-right:18px;
}
.list:hover{
    color:#20c997;
    cursor:pointer;
border-bottom: 2px solid #20c997 ; 
  padding-bottom: 5px;
    
}
.active{
    color:#20c997;
    cursor:pointer;
border-bottom: 2px solid #20c997 ; 
  padding-bottom: 5px;
}
.sectionn2{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-top:60px;
    gap:30px;
    
}
.left11{
  margin-top: 50px;
  align-items: left;
display: flex;
    flex-direction:column;
    padding-left:128px;
}
.avtar{
    border-radius: 100px;
    width: 90.4px;
    height: 90.4px;
    object-fit: cover;
}
.hi{
    display: flex;
    gap:14px;
    align-items:center;
}
.hello{
    font-size: 44px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1rem 3rem;
    color: black;
    border-radius:100px; 
    display: inline-block;
    padding: 8px 24px;

}
.work{
    font-size: 33px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 1rem 3rem;
    color: #20c997;
    border-radius:100px; 
    display: inline-block;
    padding: 8px 24px;
    letter-spacing: 0.01px;
}
.lets{
    background-color: #535da1;
    border-radius: 100px;
    color: white;
    font-weight:700;
    padding: 12px 24px;
    font-size:18px;
   display:inline-block;
    text-align: left;
}
.right1{
    /* background-color:white;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    position: absolute;  */
    z-index: 22;
    top: -50px;
    right: 0px;
    /* left: 0px;
    margin:auto; */
    pointer-events: none;
    
    
}
.imgright1{
    max-width:530px;
}

.sectionn3{
    /* background-color: #20c997;
    position:relative;
    height:515px;
    width:100%;
    object-fit: cover; */

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
   .sectionn2{
    display:none;
    
   }
   .home ul{
    justify-content:center;
     flex-direction: column;
    padding-left:0;
   text-align:center;
    gap:70px;
    padding-top:70px;
    margin: auto;
   }
   .first a{
    font-size:4rem;
   }
   .call{
    display: none;
   }
   .list{
    font-size:28px;
   }
   .main{
    overflow-x:hidden;
    background-color: #535da1;
   margin-bottom:100px;
   
   }
   .first a{
    padding-left: 0px;
   }
   
   
   
}